
<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CambiarClave</title>
    <link rel="stylesheet" href="~/Content/estilos/indexStyle.css">
    <link href="~/Content/sweetalert.css" rel="stylesheet" />

    <!--<link href="~/Content/Site.css" rel="stylesheet" />
    -->

</head>
<body>
    <div class="wrapper">
        <h2>Cambiar Contraseña</h2>
        <form action="@Url.Action("CambiarClave","Acceso")" method="post">

            <input class="form-control" type="hidden" value="@TempData["IdCliente"]" name="idcliente" autocomplete="off" />

            <div class="input-box">
                <input class="form-control" id="inputPassword" type="password" name="claveactual" placeholder="Contraseña Actual" value="@ViewData["vclave"]" autocomplete="off" />
                <label for="inputPassword">Contraseña Actual</label>
            </div>

            <div class="input-box">
                <input class="form-control" id="inputPassword" type="password" placeholder="Nueva contraseña" name="nuevaclave" />
                <label for="inputPassword">Nueva Contraseña</label>
            </div>

            <div class="input-box">
                <input class="form-control" id="inputPassword" type="password" placeholder="Confirmar Nueva Contraseña" name="confirmarclave" />
                <label for="inputPassword">Confirmar Nueva Contraseña</label>
            </div>
            @{
                if (ViewBag.Error != null)
                {
                    <div class="input-box">
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.Error
                        </div>
                    </div>
                }
            }



            <div class="input-box button">
                <input type="Submit" value="Cambiar Contraseña">
            </div>


            <div class="text">
                <h3><a href="@Url.Action("Index","Acceso")">Volver</a></h3>
            </div>


        </form>
    </div>
    <script src="~/Scripts/fontawesome/all.min.js"></script>

    <script src="~/Scripts/sweetalert.min.js"></script>

    <script src="~/Scripts/bootstrap.bundle.js"></script>
</body>
</html>

